html, body {
  margin: 0;
  height: 100%;
}

/* Welcome section */
#welcome{
    position: relative;
    height: 100%;
}
#bg{
    background
    : url(../img/cover_welcome.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all .6s;
    padding: 0px;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    min-width: 100%;
    min-height: 100%;
}

#mainTitle{
  color: aliceblue;
  position: absolute;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: 9999;
  font-family: 'Lobster', sans-serif;
  font-size: 50px;
  letter-spacing: .01em;
}

.demo a{
  z-index: 9999;
  color:black;
  position: absolute;
  top: 85%;
  left: 45%;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  font-size: 20px;
  transition: opacity .3s;
}

.demo a:hover {
  opacity: .5;
  text-decoration: none;
}

.demo a span {
  position: absolute;
  top: -50px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

 @-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
} 
 /* Section two */

#section2{
  min-width: 100%;
  min-height: 100%;
  display: table;
  width: 100%;
  background-color: whitesmoke;
  position: relative;
}

#photos-text{
  color: black;
  text-transform: uppercase;
  font-size: 100px;
  font-family: 'Nanum Pen Script', cursive;
  margin: 0px;
  padding: 0px 10px;
}

#photos-buttons p{
  display: inline-block;
  margin: 0px 10px;
  font-family: 'Nanum Pen Script', cursive;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
}

#photos-buttons p:hover{
  opacity: .5;  
}
/* Section three */

#section3{
  min-width: 100%;
  min-height: 100%;
  position: relative;
  background-color: greenyellow;
}
.left-side{
  position: absolute;
  left: 0px;
  width: 50%;
}
.right-side{
  position: absolute;
  right: 0px;
  width: 50%;
}

.section-classes{
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  text-transform: uppercase;
  font-size: 50px;
  color: white;
}
