html, body {
  margin: 0;
  height: 100%;
}

/* Navbar */

#MenuIcon{
  height: 25px;
  width: 50px;
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 9999;
}
#MenuIcon:hover{
  cursor: pointer;
}
#MenuLine{
  height: 4px;
  width: 50px;
  background-color: #E0FBFC;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s;
}
#MenuLine::before{
  content:"";
  height: 4px;
  width: 40px;
  background-color: #E0FBFC;
  position: absolute;
  margin-top: 10px;
  transition: all .3s;
}
#MenuIcon:hover #MenuLine{
  width: 40px;
}
#MenuLine::after{
  content:"";
  height: 4px;
  width: 40px;
  background-color: #E0FBFC;
  position: absolute;
  margin-top: -10px;
  transition: all .3s;
}
#MainMenu{
  z-index: 9999;
  height: 100vh;
  width: 300px;
  background-color: #000;
  -webkit-clip-path:polygon(0 0,100% 0,0% 100%,0% 100%);
  clip-path:polygon(0 0,100% 0,0% 100%,0% 100%);
  position: fixed;
  top: 0;
  left: -300px;
  transition: all .5s ease-in-out;
  opacity: .5;
}
#welcome ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-family: 'Nanum Pen Script', cursive;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
#welcome ul li{
  margin:  20px;
}
.line{
  height: 2px;
  width: 150px;
  background-color: white;
  margin-top: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  transition: all .3s;
}
#welcome ul li:hover .line{
  width: 100px;
  cursor: pointer;
}
#close{
  position: absolute;
  bottom: 10%;
  left:50%;
  transform: translate(-50%);
}
#close:hover{
  cursor: pointer;
}

.nav-navigation{
  text-decoration: none !important; 
  color:#fff !important;
}

/* Welcome section */
#welcome{
    position: relative;
    height: 100%;
    background
    : url(../img/img.png) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#mainTitle{
  padding: 20px;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lobster', sans-serif;
  font-size: 70px;
  letter-spacing: .05em;
  border-bottom: 3px solid #fff;
  border-top: 3px solid #fff;
}


.skroll a{
  /* z-index: 9999; */
  color:#fff;
  position: absolute;
  top: 85%;
  left: 45%;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  font-size: 20px;
  transition: opacity .3s;
}

.skroll a:hover {
  opacity: .5;
  text-decoration: none;
}

.skroll span {
  position: absolute;
  top: -50px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

 @-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
} 
 /* Section two */

#section2{
  min-width: 100%;
  min-height: 100%;
  display: table;
  width: 100%;
  background-color: #9DB4C0;
  position: relative;
}

#photos-text{
  color: black;
  text-transform: uppercase;
  font-size: 100px;
  font-family: 'Nanum Pen Script', cursive;
  margin: 0px;
  padding: 0px 10px;
}

#photos-buttons p{
  display: inline-block;
  margin: 0px 10px;
  font-family: 'Nanum Pen Script', cursive;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
}

#photos-buttons p:hover{
  opacity: .5;  
}
/* Section three */

#section3{
  min-width: 100%;
  min-height: 100%;
  position: relative;
  background-color: #5C6B73;
}
.left-side{
  position: absolute;
  left: 0px;
  width: 50%;
}
.right-side{
  position: absolute;
  right: 0px;
  width: 50%;
}

.section-classes{
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  text-transform: uppercase;
  font-size: 50px;
  color: white;
}

.quiz-box{
  margin: 10px;
  background-color: antiquewhite;
  height:100%;
}
