html, body {
  margin: 0;
  height: 100%;
}

/* Welcome section */

#welcome{
    margin: 0;
    background
    : url(../img/cover_welcome.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100%; 
}

#mainTitle{
    text-align: center;
    color: white;
    
}